
__pycache__/
*.pyc
.venv/
data/
models/
*.parquet
.DS_Store
.ipynb_checkpoints/

__pycache__/
.ipynb_checkpoints/
.venv/
venv/
env/

# keep folder structure, ignore real data
data/raw_zips/**
!data/raw_zips/
!data/raw_zips/.gitkeep

data/datasets/**
!data/datasets/
!data/datasets/.gitkeep
!data/datasets/temporal/
!data/datasets/temporal/.gitkeep
!data/datasets/geographic/
!data/datasets/geographic/.gitkeep

data/processed/**
!data/processed/
!data/processed/.gitkeep

!data/.gitkeep